.test::first-letter{

    color:blue;
    margin-left: 650px;
}
.as{
    margin-left:600px;
}
.as{
    margin-left: 550px;
    border-style: solid;
    border-radius: 50%;
}
p{
    text-align: center;
    margin: 5%;
    color:rgba(255, 217, 0, 0.562);
}
body{
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}