body{
    background: linear-gradient(75.7deg, rgb(3, 9, 15) 3.8%, rgb(26, 78, 33) 87.1%);
}

header{
   text-transform:uppercase;
   color: white;
   margin-left:750px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.abc{
    border: 1px solid rgb(230, 181, 181);
    margin-top: 20px;
    margin-left: 400px;
    background-color:royalblue;
    color: rgb(255, 254, 254);
    padding: 15px;
}

.xyz{
    border: 1px solid royalblue;
    height:150px;
    width:800px;
    margin-left: 50px;
    margin-top: 30px;
    background-color:royalblue ;
}
